*, *::before, *::after {
    box-sizing: border-box;
}

#main {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    /*color:white;*/
}

h1 {
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
}

p {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

#startQuiz {
    background-color: rgb(78, 218, 87);
    margin-left: 38%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.quizContainer {
    width: 800px;
    max-width: 80%;
    margin: 20px;
    background-color: #07465F;
    border-radius: 5%;
    padding: 10px;
    color: aliceblue;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    background-color: #BF89CE;
    border: 1px solid #673176;
    border-radius: 5px;
    padding: 5px 10 px;
    color: white;
    outline: none;
}

.btn:hover {
    border: solid 2px rgb(111, 210, 104);
}

.hide {
    display:none;
}

.timer {
    width: 800px;
    max-width: 80%;
    margin: 20px;
    background-color:  rgb(56, 17, 119);
    border-radius: 0%;
    padding: 10px;
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#quizTitle {
    color:rgb(247, 169, 91)
}

#clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

/*button {
    border-radius: 8px;
}*/

/*textarea {
    width: 90%;
    margin: 20px;
}*/

#Submit {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

/*label {
    margin-right: 10px;
}*/

/*input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}*/



/*li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}*./

/*#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}*/

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
#main {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;
    
}
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
#main {
position: absolute;
left: 10%;
}
a {
  margin-left: 10%;
}

}
